---
import ExperienceItem from "./ExperienceItem.astro";

const Experiencie = [
  {
    date: "Junio 2022 - Agosto 2022",
    title: "Practicante en Sistemas - Foxconn",
    description:
      "En mi estancia en la empresa realice proyectos relacionados al fullstack manejando la vista en Frontend asi como el manejo de dato en el Backend.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    Experiencie.map((Experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...Experiencie} />
      </li>
    ))
  }
</ol>
